# Introduzione

Questo notebook trasforma le annotazioni chilometriche sui lavori in corso di **ANAS** - riportate nel file CSV di cui si parla [qui](https://github.com/ondata/anaslavoriincorso) - in un layer cartografico e lo esporta in formato `GeoPackage` e `GeoJSON`.

## Requisiti

- [PostgreSQL/PostGIS](https://postgis.net/install/) in modo da poter utilizzare le funzioni di [_linear referencing_](https://postgis.net/docs/reference.html#Linear_Referencing);
- [ipython-sql](https://github.com/catherinedevlin/ipython-sql), per fare query SQL dentro il notebook;
- [pandas](https://pandas.pydata.org/);
- [GDAL/OGR](https://www.gdal.org/) per importare ed esportare file da e verso PostgreSQL/PostGIS.

## Nota su PostgreSQL/PostGIS

In alcuni comandi è necessario inserire la password dell'utente PostgreSQL/PostGIS: c'è da inserire la vostra.

## Nota sul grafo stradale ANAS

Il grafo utilizzato è quello presente sul portale dei dati aperti: [http://dati.mit.gov.it/catalog/dataset/grafo-stradale-anas](http://dati.mit.gov.it/catalog/dataset/grafo-stradale-anas).

È aggiornato a fine 2015, quindi ci potrebbe essere qualche dato oggi inadeguato.

In [4]:
# carico l'estensione sql
%reload_ext sql

import pandas as pd
import sys
reload(sys)  
sys.setdefaultencoding('utf8')

In [346]:
# mi connetto al db
%sql postgresql://postgres:passw@localhost/test_andy

u'Connected: postgres@test_andy'

In [3]:
%%sql
-- svuoto il db, creo lo schema di base e gli caricho le estensioni
drop schema public cascade;
create schema public;
CREATE EXTENSION postgis;
CREATE EXTENSION postgis_topology;

 * postgresql://postgres:***@localhost/test_andy
Done.
Done.
Done.
Done.

[]

In [4]:
!ogr2ogr -overwrite -lco LAUNDER=No -f PostgreSQL PG:"dbname=test_andy host=localhost port=5432 user=postgres password=passw" "./shpANAS/grafo_Anas.shp" -nln "anaszm" -nlt "MULTILINESTRINGZM"

In [5]:
datilavori=pd.read_csv('../stradeAnas.csv',encoding='utf-8')
# creo colonne con misure in metri, perché è l'unità di misura del grafo di ANAS
datilavori['dal_m'] = datilavori['dal_km'] * 1000
datilavori['al_m'] = datilavori['al_km'] * 1000

In [6]:
# estraggo i dati del primo record, da usare per creare la tabella PostGIS "contenitore"
primaNomeI=datilavori.iloc[0]['strada']
primadal_mI=datilavori.iloc[0]['dal_m']
primaal_mI=datilavori.iloc[0]['al_m']
primaidI=int(datilavori.iloc[0]['id'])

In [271]:
# creo la tabella contenitore per l'Itailia
%sql DROP TABLE IF EXISTS italia;\
CREATE table italia as \
select :primaidI as "ID", ST_CollectionExtract(ST_LocateBetween(wkb_geometry,:primadal_mI,:primaal_mI),2) from anaszm where "COD_STRA" like :primaNomeI

[]

In [277]:
# il dataframe da usare per il loop in INSERT, da cui ho rimosso la riga 1, che è già stata inserita
italialoop=datilavori[1:]

,dal_km,al_km,descrizione,tipo_lavoro,importo_lav_principali,importo_lav_totale,data_consegna_impresa,avanzamento_lavori,ultimazione,sospesa,impresa,id,regione,strada,dal_m,al_m
1,0.0,14.700,(CUP-F77H18000510001) RA 12 Chieti- Pescara da...,Lavori di manutenzione straordinaria.,436022.44,493727.44,31/05/2018,0.00,28/10/2018,NaN,ATI STACCHIO IMPIANTI SRL-IGE IMPIA SRL-TATANG...,14077,ABRUZZO,RA12,0.0,14700.0
2,4.3,69.514,SS.N.16 ADRIATICA\n\nLAVORI DI RISANAMENTO PAV...,Lavori di manutenzione straordinaria.,535975.62,576350.62,19/04/2018,95.46,10/07/2018,NaN,ATI E.MA.PRI.CE. SPA -TRENTIN ASFAL,14496,ABRUZZO,SS16,4300.0,69514.0

In [278]:
# per ogni riga in italialoop estrai la tratta di strada descritta e inseriscila nella tabella "italia"
for index, row in italialoop.iterrows():
    stradavI=row['strada']
    primadal_mI=row['dal_m']
    primaal_mI=row['al_m']
    idvI=int(row['id'])
    %sql INSERT INTO italia \
    select :idvI as "ID",ST_CollectionExtract(ST_LocateBetween(wkb_geometry,:primadal_mI,:primaal_mI),2) from anaszm where "COD_STRA" like :stradavI

In [1]:
# export dei dati per l'Italia
!ogr2ogr -f GPKG italia.gpkg PG:"dbname=test_andy host=localhost port=5432 user=postgres password=passw" "italia"
!ogr2ogr -f GeoJSON italia.geojson PG:"dbname=test_andy host=localhost port=5432 user=postgres password=passw" "italia" -lco RFC7946=YES